body{
    margin: 0%;
    background-color:white;
}
.container{
    margin-top:100px;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-image: linear-gradient(to right,white,teal);
    border-radius: 10px;
    border: 1px solid black;
    flex-direction: column;
}
input{
    width: 60%;
    height: 30px;
    margin: 10px;
    color: black;
    font-family: lucida calligraphy;
}
h1{
    margin-right: 50%;
    margin-left: 0%;
    text-align: left;
    font-family: lucida calligraphy;
}
button{
    display: flex;
    width: 200px;
    height: 60%;
    margin: 10px;
    color: black;
    font-family: lucida calligraphy;    
}